
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: url("../images/Pappern-14.jpg"), no-repeat;
    background-size: 100%;
}

.text-center {
    margin-bottom: 80px; /*Separate rows of items.*/
}

footer {
    margin: 100px 0;
}

.myFace {
    display: none;
}

.navbar-brand:hover .myFace {

    display: block;
}

#smallFace {
    max-height: 400px;
}

.img-center {
    margin: 0 auto;
}

.myWork {
    position: relative;
    top: -120px;
    opacity: 0;
}

.text-center:hover .myWork {
    display: block;
    opacity: 1;
}

.text-center:hover .img-center {
    opacity: .1;
}

.myFooter {
    background-color: #222;
    color: #269abc;
}

.tmnt {
    max-height: 300px;
}

.bottom-border {
    padding: 10px;
    border-bottom: solid darkgray;

}

h5 {
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

table, th, td {
    border: 1px solid darkgray;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

a.noLink {
    color: black;
}

.page-header {
    border-bottom: 1px solid #5e5e5e;
}

.myLinks {
    height: 50px;
}

hr {
    border-top-color: black;
}

.tenure  {
    position: relative;
    top: 24px;
}

.address {
    position: relative;
    top: 24px;
}

#codeWarsImg {
    height: 100%;
    width: 100%;
}

.panel {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.progress {
    background-color: #999999;
}

.myBars {
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
}